/* 공통 */
html {
  background-color: rgb(232, 243, 250);
}

#wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

header {
  margin-bottom: 50px;
  text-align: center;
}

.mont {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 50px;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  background-color: #237fbd;
  border-radius: 5px;
  cursor: pointer;
}

#alarm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 250px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #cecece;
  overflow: hidden;
}

#alarm h1 {
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0;
  border-bottom: 0.5px solid #cecece;
}

#message {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn_ok {
  width: 100%;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  cursor: pointer;
  background-color: #f1f1f1;
}

/* MAIN PAGE */
/* main page - main*/
main {
  width: 100%;
  height: 540px;
  display: flex;
  margin-bottom: 100px;
}

/* main page - main(hint) */
#hint_wrap {
  width: 395px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 35px;
}

#puzzle_list_wrap {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 19px;
}

#puzzle_select,
#puzzle_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#puzzle_select {
  opacity: 0;
}

#puzzle_list {
  padding-left: 38px;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  text-transform: capitalize;
}

#puzzle_list::before {
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #237fbd;
}

#puzzle_list::after {
  display: block;
  content: "▼";
  position: absolute;
  right: 0;
  top: 0;
  color: #237fbd;
  font-size: 16px;
}

#hint li {
  cursor: pointer;
}

#across,
#down {
  position: relative;
}

#across {
  margin-bottom: 35px;
}

.hint_tit {
  margin-bottom: 10px;
  margin-left: 28px;
  line-height: 25px;
  text-transform: uppercase;
}

.hint_tit::before {
  display: block;
  content: "";
  position: absolute;
  top: 2.5px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #237fbd;
}

#across > .hint_tit::before {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#down > .hint_tit::before {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

option {
  padding: 6px 15px;
}

#across_hint,
#down_hint {
  height: 175px;
  background-color: #ffffffd2;
  /* padding: 10px 0; */
}

.hint_item {
  width: 100%;
  height: 35px;
  padding-left: 28px;
  line-height: 35px;
  color: #666666;
}

.hint_item:hover {
  background-color: #237fbd5e;
}

.hint_num {
  margin-right: 15px;
}

/* main page - main(puzzle) */
#puzzle_wrap {
  width: 540px;
  height: 540px;
}

.row {
  display: flex;
  width: 100%;
  height: 60px;
}

.col {
  position: relative;
  width: 60px;
  height: 100%;
  border-radius: 3px;
  background-color: #ffffff;
}

.col.first::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  color: #ffffff;
  background-color: #237fbd;
  z-index: 99;
}

.col.across::before {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.col.down::before {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input.text {
  background-color: #ffffff;
  border: 1px solid #237fbd;
}

input.focus {
  animation: focus 1s;
}

@keyframes focus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    background-color: #fff9d7;
  }
  100% {
    transform: scale(1);
  }
}

/* input  */
.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 35px;
  font-weight: 800;
  line-height: 60px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
}

.text.text_first {
  opacity: 0;
}

input:disabled {
  background-color: #d7efff;
}

input.wrong {
  background-color: #ffd7e0;
  border: 2px solid red;
  animation: shake 0.1s;
  animation-iteration-count: 3;
}

input.correct {
  background-color: #d7ffe8;
  border: 2px solid #23bd75;
}

@keyframes shake {
  0% {
    transform: rotateZ(10deg);
  }
  33.333% {
    transform: rotateZ(0);
  }

  66.666% {
    transform: rotateZ(-10deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

.answer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 35px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  text-transform: capitalize;
  background-color: #d7ffe8;
  border: 2px solid #23bd75;
  border-radius: 3px;
}

/* MAKE PAGE */
#make_main {
  width: 100%;
  flex-direction: column;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 26px;
}

#make_main > p {
  margin-left: 41px;
  color: #666666;
}

#make_main input {
  height: 35px;
}

#make_label {
  display: block;
  margin: 0 0 20px -26px;
}

#make_title {
  width: 250px;
  margin-left: 15px;
}

#new_puzzle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 7px;
}

#subtitle_wrap {
  margin-bottom: 7px;
}

#subtitle_wrap p {
  display: inline-block;
  margin-left: 15px;
  text-align: center;
}

#subtitle_wrap p.word {
  width: 250px;
}

#subtitle_wrap p.desc {
  width: 686px;
}

li.puzzle_item {
  list-style-type: decimal;
}

.puzzle_item > input {
  margin-left: 15px;
}

.puzzle_item > .word {
  width: 250px;
}

.puzzle_item > .desc {
  width: 664px;
}

/* make page - btn */
#btn_main {
  margin-right: 30px;
  color: #237fbd;
  background-color: #ffffff;
}

/* REGISTER PAGE */
#puzzle_title {
  position: relative;
  margin: 0 0 19px 38px;
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
}

#puzzle_title::before {
  display: block;
  content: "";
  position: absolute;
  top: 7px;
  left: -38px;
  width: 20px;
  height: 20px;
  background-color: #237fbd;
}
