html {
  background-color: rgb(232, 243, 250);
}

#wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.mont {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* header */
header {
  margin-bottom: 50px;
  text-align: center;
}

#in_header {
  width: 100%;
  height: 100%;
}

/* main */
main {
  width: 100%;
  height: 540px;
  display: flex;
  margin-bottom: 100px;
}

/* hint */
#hint_wrap {
  width: 405px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 25px;
}

#puzzle_list {
  width: 100%;
  height: 35px;
  margin-bottom: 19px;
  border-radius: 4px;
  border: solid 1px #237fbd;
}

#across,
#down {
  position: relative;
}

#across {
  margin-bottom: 26px;
}

.hint-tit {
  margin-bottom: 10px;
  margin-left: 28px;
  line-height: 25px;
  text-transform: uppercase;
}

.hint-tit::before {
  display: block;
  content: "";
  position: absolute;
  top: 2.5px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #237fbd;
}

#across > .hint-tit::before {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#down > .hint-tit::before {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

option {
  padding: 6px 15px;
}

#across_hint,
#down_hint {
  background-color: #ffffffd2;
  padding: 10px 0;
}

.hint_item {
  width: 100%;
  height: 35px;
  padding-left: 28px;
  line-height: 35px;
  color: #666666;
}

.hint_num {
  margin-right: 15px;
}

/* puzzle */
#puzzle_wrap {
  width: 540px;
  height: 540px;
  background-color: #ffffff;
}

/* btn */
#btn_wrap {
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 50px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 900;
  background-color: #237fbd;
  color: #ffffff;
  border-radius: 5px;
}
